.layout {
  height: 100vh;
  overflow: scroll;
}
.siderLogoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65);
  margin: 9px;
  font-weight: 600;
}
.siderLogo {
  margin-right: 10px;
  width: 26px;
}
.sider {
  background: #001529;
}
.header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.content {
  max-height: 100%;
  overflow: scroll;
  padding: 16px 16px 0 16px;
  border: 16px solid #f0f2f5;
  box-sizing: border-box;
  background: #fff;
}
.footer {
  background: #fff;
}
